<!doctype html>
<html>
<head><meta charset="utf-8"><title>Login</title></head>
<body>
  <h1>Entrar</h1>

  <div style="color:red" th:if="${param.error}">Usuário ou senha inválidos.</div>
  <div style="color:green" th:if="${param.logout}">Você saiu com sucesso.</div>

  <!-- IMPORTANTE: method POST, names username/password -->
  <form th:action="@{/login}" method="post">
    <label>Email</label><br>
    <input type="text" name="username" placeholder="admin@quitandaria.com"><br><br>

    <label>Senha</label><br>
    <input type="password" name="password" placeholder="123456"><br><br>

    <button type="submit">Entrar</button>
  </form>
</body>
</html>
